<div class="content-container">
    <section>
        <h2>Tags</h2>
        <p *ngIf="tags && tags.length === 0">You have no tags.</p>
        <button mat-flat-button (click)="createTagDialog({}, 'Create tag', 'create', 'Save')"> Create </button>
    </section>
    <section>
        <div class="table-wrapper">
            <table mat-table [dataSource]="tags" matSort *ngIf="tags && tags.length !== 0" class="mat-elevation-z8 results-table">
                <!-- Tag Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-chip-list>
                            <mat-chip [selectable]="selectable">
                                {{element.name}}
                            </mat-chip>
                        </mat-chip-list>

                    </td>
                </ng-container>
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
                    <td mat-cell *matCellDef="let element">
                        {{humanizeDate(element.createdOn)}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="options">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell class="buttons-col" *matCellDef="let element">
                        <button mat-button color="primary" [routerLink]="['/query/tag/', element.id]">
                            View
                        </button>
                        <mat-button-toggle-group>
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item [routerLink]="['/map/tag', element.id]"  *ngIf="userService.user.subscriptionPlan === 'large'">
                                    <mat-icon>add_location</mat-icon>
                                    <span>Send to Map</span>
                                </button>
                                <button mat-menu-item (click)="createTagDialog(element, 'Rename tag', 'update', 'Update')">
                                    <mat-icon>edit</mat-icon>
                                    <span>Rename</span>
                                </button>
                                <button mat-menu-item (click)="createTagDeleteDialog(element.id)">
                                    <mat-icon>delete</mat-icon>
                                    <span>Delete</span>
                                </button>
                            </mat-menu>
                        </mat-button-toggle-group>
                    </td>
                </ng-container>
                <!-- IP List Column -->
                <!-- <ng-container matColumnDef="ips">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> IP List </th>
                <td mat-cell *matCellDef="let element" class="saved-search-td">
                    <mat-chip-list #chipList>
                      <mat-chip *ngFor="let ip of element.ips" [selectable]="selectable">
                        {{ip}}
                      </mat-chip>
                    </mat-chip-list>
                </td>
                </ng-container>-->
                <tr mat-header-row *matHeaderRowDef="tagsGridColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: tagsGridColumns;"></tr>
            </table>
        </div>
    </section>
</div>
