table {
    width: 100%;
    margin-bottom: 30px;
}

.mat-row {
    height: auto;
  }
  
.mat-cell {
    padding: 8px 8px 8px 0;
}

.buttons-col{
    min-width: 128px;
    text-align: right
}

.no-tags-text{
    font-size: 40px;
    text-align: center;
    color: gray;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}

.dialog-input{
    width: 100%;
}