<div class="content-container">
  <section>
      <h2>Search</h2>
      <p>Enter up to 50 comma-separated IP addresses in the search bar below, then click search.</p>
      <mat-card>
          <form class="ip-query">
              <mat-form-field class="search-width">
                  <mat-chip-list #chipList>
                      <mat-chip *ngFor="let ip of ipsList" [selectable]="selectable" [removable]="removable" (removed)="remove(ip)">
                          {{ip}}
                          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                      </mat-chip>
                      <input placeholder="Search by IP address" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" (paste)="paste($event)">
                  </mat-chip-list>
                  <mat-hint align="end">{{ipsList.length}} / {{ipsLimit}}</mat-hint>
              </mat-form-field>
          </form>
          <div class="button-row">
              <button mat-flat-button (click)="submitQuery(ipsList)" [disabled]="ipsList.length === 0" class="button-bottom-spacing">
                  <mat-icon>search</mat-icon> Search
              </button>
              <button mat-flat-button color="warn" (click)="clear()" [disabled]="ipsList.length === 0" class="button-bottom-spacing">
                  <mat-icon>clear</mat-icon> Clear
              </button>
              <button mat-flat-button [disabled]="ipsList.length === 0" class="button-bottom-spacing">
                  <mat-icon>save</mat-icon> Save
              </button>
              <mat-slide-toggle
                #flagToggle
                class="flag-toggle"
                [color]="primary"
                [checked]="checked"
                [disabled]="ipsList.length === 0"
                (change)="setFlagShow()"
              >
                Show IP Info
              </mat-slide-toggle>
          </div>
      </mat-card>
  </section>
  <section class="loading">
    <agm-map #AgmMap [latitude]="latitude" [longitude]="longitude" [zoom]="3" [maxZoom]="maxZoomLevel" [scrollwheel]="false">
      <agm-marker
        *ngFor="let ip of ipsGeoData; let i = index"
        [latitude]="+ip.latitude"
        [longitude]="+ip.longitude"
        [iconUrl]="ip.iconUrl"
      >
        <agm-snazzy-info-window
          [latitude]="+ip.latitude"
          [longitude]="+ip.longitude"
          [isOpen]="isOpen"
        >
          <ng-template>
            <div>
              <strong>IP: </strong>
              <a matTooltip="Click here for IP details." [routerLink]="['/detail/', ip.ipaddress]">{{ip.ipaddress}}</a>
            </div>
            <div>
              <strong>Threat level: </strong>
              <span *ngIf="ip.threatLevel == 'High' || ip.threatLevel == 'high' || ip.threatLevel == 'HIGH'" style="color: #CD444A;">{{ip.threatLevel}}</span>
              <span *ngIf="ip.threatLevel == 'Medium' || ip.threatLevel == 'medium' || ip.threatLevel == 'MEDIUM'" style="color: #FFB300;">{{ip.threatLevel}}</span>
              <span *ngIf="ip.threatLevel == 'Low' || ip.threatLevel == 'low' || ip.threatLevel == 'LOW'" style="color: #28A745;">{{ip.threatLevel}}</span>
            </div>
            <div>
              <strong>Blacklist class: </strong>
              <span>{{ip.blacklistClass}}</span>
            </div>
          </ng-template>
        </agm-snazzy-info-window>
      </agm-marker>
    </agm-map>
    <ngx-loading [show]="isLoading"></ngx-loading>
  </section>
</div>
