<main>
    <mat-toolbar class="header">
        <mat-toolbar-row>
          <button mat-icon-button (click)="drawer.toggle()" class="mobile-nav">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <span class="logo">
            <a [routerLink]="['']">
              <img class="desktop" src="assets/img/MusubuApp-logo-300w.jpg"/>
              <img class="mobile" src="assets/img/MusubuApp-logo-icon-100w.jpg"/>
            </a>
          </span>
          <span class="title">
            IP Address Data + Cyber Threat Info
          </span>
          <span class="button-spacer"></span>
          <span class="button-row" *ngIf="router.url !== '/login'">
            <button mat-flat-button (click)="onClickBuy()">
              Buy API Now
            </button>
            <button mat-icon-button matTooltip="Logout" (click)="logout()">
              <mat-icon>logout</mat-icon>
            </button>
          </span>
        </mat-toolbar-row>
        <mat-toolbar-row class="desktop-nav" *ngIf="router.url !== '/login'">
            <span class="nav-item">
              <a [routerLink]="['/query/']">Home</a>
            </span>
            <span class="nav-item">
              <a mat-list-item [routerLink]="['/searches/']">Saved Searches</a>
            </span>
        </mat-toolbar-row>
      </mat-toolbar>
      <mat-sidenav-container class="example-container">
          <mat-sidenav #drawer mode="side" closed role="navigation">
            <mat-nav-list>
              <a mat-list-item [routerLink]="['/query/']">Home</a>
              <a mat-list-item [routerLink]="['/searches/']">Saved Searches</a>
            </mat-nav-list>
          </mat-sidenav>
        <mat-sidenav-content>
          <router-outlet></router-outlet>
        </mat-sidenav-content>
      </mat-sidenav-container>
</main>