<main>
  <mat-toolbar>
    <mat-toolbar-row>
      <span class="logo">
          <a [routerLink]="['']">
            <img src="assets/img/musubu-logo-100w-min.jpg"/>
          </a>
      </span>
      <span class="title">
        IP Address Data + Cyber Threat Info
      </span>
      <span class="button-spacer"></span>
      <span *ngIf="router.url !== '/login'">
        <button mat-icon-button matTooltip="Logout" (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- <app-ip-query></app-ip-query> -->
  <!-- <app-ip-risk-circles></app-ip-risk-circles>
  <app-ip-query-result style="width: 90%;"></app-ip-query-result> -->
  <router-outlet></router-outlet>
</main>


<!-- <mat-grid-list cols="3" gutterSize="5px" rowHeight="600px">
  <mat-grid-tile colspan="1">
      <app-ip-query></app-ip-query>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
      <app-ip-query-result style="width: 90%;"></app-ip-query-result>
  </mat-grid-tile>
</mat-grid-list> -->