<div class="content-container" *ngIf="currentUser && currentUser.isAdmin">
  <section>
      <h2>Admin</h2>
      <p *ngIf="users && users.length === 0">No users.</p>
      <button mat-flat-button (click)="openCreateDialog()">Create User</button>
  </section>
  <section>
      <div class="table-wrapper">
          <table mat-table [dataSource]="users" matSort *ngIf="users && users.length !== 0" class="mat-elevation-z8 results-table">
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let element">
                  {{element.email}}
                </td>
              </ng-container>
              <ng-container matColumnDef="subscriptionPlan">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Subscription Plan </th>
                <td mat-cell *matCellDef="let element">
                  <mat-select placeholder="Subscription Plan" (selectionChange)="planChange(element, $event)" [value]="element.subscriptionPlan">
                    <mat-option *ngFor="let subscriptionPlan of subscriptionPlans" [value]="subscriptionPlan.name">
                      {{subscriptionPlan.name}}
                    </mat-option>
                  </mat-select>
                </td>
              </ng-container>
              <ng-container matColumnDef="isAdmin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Is Admin? </th>
                <td mat-cell *matCellDef="let element">
                  <mat-checkbox [(ngModel)]="element.isAdmin" (change)="updateUser(element)"></mat-checkbox>
                </td>
              </ng-container>
              <ng-container matColumnDef="deleteButton">
                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button color="warn" (click)="openDeleteDialog(element)">
                        <mat-icon>delete</mat-icon> Delete
                    </button>
                </td>
            </ng-container>
              <tr mat-header-row *matHeaderRowDef="usersGridColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: usersGridColumns;"></tr> 
            </table>
        </div>
    </section>
</div>