<h1 mat-dialog-title>Import by File</h1>
<div mat-dialog-content>
  <p>Your plan allows for {{ data.ipQueryLimit }} IPs.</p>
  <mat-form-field>
    <mat-select placeholder="File Type" class="horizontal-center" [(value)]="importFileType">
      <mat-option value="csv" selected>CSV</mat-option>
      <mat-option value="json">JSON</mat-option>
    </mat-select>
  </mat-form-field>
  <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".json,.csv">
  <label *ngIf="fileChanged">Your file contains {{ data.ipsList.length }} IP Addresses.</label>
  <br/>
  <pre *ngIf="importFileType === 'json'" class="import-code-pre">
    <span>JSON Example:</span>
    <code>
        [
          &#123;"ipaddress":"111.222.333.444"&#125;,
          &#123;"ipaddress":"555.666.777.888"&#125;
        ]
    </code>
  </pre>
  <pre *ngIf="importFileType === 'csv'" class="import-code-pre">
    <span>CSV Example:</span>
    <code>
        ipaddress,attr1,attr2
        111.222.333.444,private,USA
        555.666.777.888,public,UK
    </code>
  </pre>
</div>
<div mat-dialog-actions align="end">
  <div class="button-row">
    <button mat-flat-button (click)="onNoClick()">Cancel</button>
    <button mat-flat-button [mat-dialog-close]="data" cdkFocusInitial [disabled]="data.ipsList.length === 0">Import</button>
  </div>
</div>