<div mat-dialog-content>
  <p>Import by File</p>
  <label>Your free plan allows for {{ data.ipQueryLimit }} IPs</label>
  <br/>
  <label class="horizontal-center">File Type: </label>
  <mat-form-field>
    <mat-select class="horizontal-center" [(value)]="importFileType">
      <mat-option value="csv">CSV</mat-option>
      <mat-option value="json">JSON</mat-option>
    </mat-select>
  </mat-form-field>

  <pre *ngIf="importFileType === 'json'" class="import-code-pre">
    <code>
        [
          &#123;"ipaddress":"1.2.3.4"&#125;,
          &#123;"ipaddress":"5.6.7.8"&#125;
        ]
    </code>
  </pre>
  <pre *ngIf="importFileType === 'csv'" class="import-code-pre">
    <code>
        ipaddress,attr1,attr2
        1.2.3.4,private,USA
        5.6.7.8,public,UK
    </code>
  </pre>

  <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".json,.csv">
  <br/>
  <label>Your file contains {{ data.ipsList.length }} IP Addresses.</label>
  <br/>
</div>
<div mat-dialog-actions align="end">
  <div class="button-row">
    <button mat-flat-button (click)="onNoClick()">Cancel</button>
    <button mat-flat-button [mat-dialog-close]="data" cdkFocusInitial [disabled]="data.ipsList.length === 0">Import</button>
  </div>
</div>