.query-icon{
    text-align: center;
}
.ip-query {
    width: 100%;
    margin-bottom: 10px;
}
.search-width {
    width: 100%;
}

.risk-circles-grid-list {
    margin-bottom: 20px;
}
.risk-circles-grid-tile {
    padding-top: 10px;
    padding-bottom: 10px;
}

.results-table {
    width: 100%;
}

.dialog-input{
    width: 100%;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}

.horizontal-center {
    margin-top: auto;
    margin-bottom: auto;
}

.export-component-box {
    float: right;
}
.export-component-box label,
.export-component-box .mat-form-field{
    margin-right: 15px;
}
.export-component-box .mat-form-field{
    max-width: 100px;
}
.hide {
    visibility: collapse;

}

.mat-warn {
    background-color: red;
}

.warning-message {
    color: red;
}

@media screen and (max-width: 700px){
    .cdk-column-blacklist_class{
        display: none;
    }
}
@media screen and (max-width: 500px){
    .query-icon img{
        max-width: 100px;
    }
}