<!-- <mat-form-field> -->
    <!-- <textarea matInput placeholder="Enter one or more IPs separated by commas."></textarea> -->
<!-- </mat-form-field> -->
<div class="content-container">
  <div class="directions" [hidden]="ipsService.dataSource.data.length !== 0">
    <img src="assets/img/musubu-ip-address-search-min.jpg"/>
  </div>
  <section>
    <p>Enter up to 50 comma-separated IP addresses in the search bar below, then click search.</p>
    <form class="ip-query">
      <mat-form-field class="search-width">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let ip of ipsList" [selectable]="selectable"
                   [removable]="removable" (removed)="remove(ip)">
            {{ip}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Search by IP address"
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="add($event)"
                 (paste)="paste($event)">
        </mat-chip-list>
        <mat-hint align="end">{{ipsList.length}} / {{ipsLimit}}</mat-hint>
      </mat-form-field>
    </form>
    <div class="button-row">
      <button mat-flat-button (click)="submitQuery()" [disabled]="ipsList.length === 0">
        <mat-icon>search</mat-icon>Search
      </button>
      <button mat-flat-button (click)="clear()">
        <mat-icon>clear</mat-icon>Clear
      </button>
    </div>
  </section>
  <section [hidden]="ipsService.dataSource.data.length === 0">
    <mat-grid-list class="risk-circles-grid-list" #grid cols="{{grid.cols}}" gutterSize="15px" rowHeight="155px">
      <mat-grid-tile class="risk-circles-grid-tile" colspan="1">
        <circle-progress
          [percent]="100"
          [radius]="70"
          [backgroundColor]="'#FDC6CB'"
          [backgroundPadding]="0"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#dc3545'"
          [animation]="true"
          [animationDuration]="100"
          [title]="['High', 'Risk', '']"
          [showUnits]="false"
          [subtitle]="ipsService.highRiskCount"
          [subtitleFontSize]="20"
          [subtitleColor]="'black'"
        ></circle-progress>
    </mat-grid-tile>
    <mat-grid-tile class="risk-circles-grid-tile" colspan="1">
        <circle-progress
          [percent]="100"
          [radius]="70"
          [backgroundColor]="'#FFE9A9'"
          [backgroundPadding]="0"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#ffc107'"
          [animation]="true"
          [animationDuration]="100"
          [title]="['Medium', 'Risk', '']"
          [showUnits]="false"
          [subtitle]="ipsService.mediumRiskCount"
          [subtitleFontSize]="20"
          [subtitleColor]="'black'"
        ></circle-progress>
      </mat-grid-tile>
      <mat-grid-tile class="risk-circles-grid-tile" colspan="1">
        <circle-progress
          [percent]="100"
          [radius]="70"
          [backgroundColor]="'#B8ECC3'"
          [backgroundPadding]="0"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#28a745'"
          [animation]="true"
          [animationDuration]="100"
          [title]="['Low', 'Risk', '']"
          [showUnits]="false"
          [subtitle]="ipsService.lowRiskCount"
          [subtitleFontSize]="20"
          [subtitleColor]="'black'"
          ></circle-progress>
      </mat-grid-tile>
    </mat-grid-list>
  </section>
  <section [hidden]="ipsService.dataSource.data.length === 0">
    <!-- Using [hidden] here because the table needs to be rendered to be initialized -->
    <table mat-table [dataSource]="ipsService.dataSource" matSort class="mat-elevation-z8 results-table">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- IP Address Column -->
      <ng-container matColumnDef="ipaddress">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> IP Address </th>
        <td mat-cell *matCellDef="let element"> 
          <a matTooltip="Click here for IP Record info." [routerLink]="['/detail/', element.ipaddress]">{{element.ipaddress}}</a>
        </td>
      </ng-container>

      <!-- Threat Potential Column -->
      <ng-container matColumnDef="threat_potential_score_pct">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Threat Score </th>
        <td mat-cell *matCellDef="let element"> {{element.threat_potential_score_pct}} </td>
      </ng-container>

      <!-- Threat Classification Column -->
      <ng-container matColumnDef="threat_classification">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Threat Classification </th>
        <td mat-cell *matCellDef="let element"> {{element.threat_classification}} </td>
      </ng-container>

      <!-- Blacklist Class Column -->
      <ng-container matColumnDef="blacklist_class">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Blacklist Class </th>
        <td mat-cell *matCellDef="let element"> {{element.blacklist_class}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </section>
</div>


<!-- <mat-card>
  <mat-card-title>Query IP</mat-card-title>
  <mat-card-content>
      
  </mat-card-content>
</mat-card> -->