<div class="content-container">
    <section>
        <div class="query-icon" [hidden]="ipsService.dataSource.data.length !== 0">
            <img src="assets/img/musubu-ip-address-search-200w-min.jpg" />
        </div>
        <h2>Search</h2>
        <p>Enter up to {{ipQueryLimit}} comma-separated IP addresses in the search bar below, then click search.</p>
        <mat-card>
            <form class="ip-query">
                <mat-form-field class="search-width">
                    <mat-chip-list #chipList>
                        <mat-chip *ngFor="let ip of ipsList" [removable]="removable" (removed)="remove(ip.label)" color="{{ ip.isInvalid ? 'warn' : ''}}">
                            {{ip.label}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Search by IP address" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" (paste)="paste($event)">
                    </mat-chip-list>
                    <mat-hint align="start">
                        <mat-error *ngIf="isFormInvalid">
                            One or more entries are invalid IP Addresses.
                        </mat-error>
                    </mat-hint>
                    <mat-hint align="end">{{ipsList.length}} / {{ipQueryLimit}}</mat-hint>
                </mat-form-field>
            </form>
            <div class="button-row">
                <button mat-flat-button (click)="submitQuery(ipsList)" [disabled]="ipsList.length === 0" class="button-bottom-spacing">
                    <mat-icon>search</mat-icon> Search
                </button>
                <button mat-flat-button color="warn" (click)="clear()" [disabled]="ipsList.length === 0" class="button-bottom-spacing">
                    <mat-icon>clear</mat-icon> Clear
                </button>
                <button mat-flat-button (click)="openDialog()" [disabled]="ipsList.length === 0" class="button-bottom-spacing">
                    <mat-icon>save</mat-icon> Save
                </button>
                <button mat-flat-button (click)="openImportDialog()" [disabled]="isImportDisabled()" class="button-bottom-spacing">
                    <mat-icon>description</mat-icon> Import
                </button>
                <p *ngIf="isImportDisabled()"><a (click)="onClickBuyApp()">Upgrade to import!</a></p>
            </div>
        </mat-card>
    </section>

    <section [hidden]="ipsService.dataSource.data.length === 0">
        <h2>Results</h2>
        <mat-grid-list class="risk-circles-grid-list" #grid cols="{{grid.cols}}" gutterSize="15px" rowHeight="155px">
            <mat-grid-tile class="risk-circles-grid-tile" colspan="1">
                <app-ip-risk-circle [title]="ipsService.highRiskCircle.title" [subtitle]="ipsService.highRiskCircle.count"
              [riskLevel]="ipsService.highRiskCircle.riskLevel" [backgroundColor]="ipsService.highRiskCircle.backgroundColor"
              [outerStrokeColor]="ipsService.highRiskCircle.outerStrokeColor" [radius]="ipsService.highRiskCircle.radius"></app-ip-risk-circle>
            </mat-grid-tile>
            <mat-grid-tile class="risk-circles-grid-tile" colspan="1">
                <app-ip-risk-circle [title]="ipsService.mediumRiskCircle.title" [subtitle]="ipsService.mediumRiskCircle.count"
              [riskLevel]="ipsService.mediumRiskCircle.riskLevel" [backgroundColor]="ipsService.mediumRiskCircle.backgroundColor"
              [outerStrokeColor]="ipsService.mediumRiskCircle.outerStrokeColor" [radius]="ipsService.mediumRiskCircle.radius"></app-ip-risk-circle>
            </mat-grid-tile>
            <mat-grid-tile class="risk-circles-grid-tile" colspan="1">
                <app-ip-risk-circle [title]="ipsService.lowRiskCircle.title" [subtitle]="ipsService.lowRiskCircle.count"
              [riskLevel]="ipsService.lowRiskCircle.riskLevel" [backgroundColor]="ipsService.lowRiskCircle.backgroundColor"
              [outerStrokeColor]="ipsService.lowRiskCircle.outerStrokeColor" [radius]="ipsService.lowRiskCircle.radius"></app-ip-risk-circle>
            </mat-grid-tile>
        </mat-grid-list>
    </section>

    <section [hidden]="ipsService.dataSource.data.length === 0">
        <div class="export-component-box">
            <div class="export-upgrade-message" *ngIf="userService.user.subscriptionPlan !== 'large'">
                <a (click)="onClickBuyApp()">Upgrade to export!</a>
            </div>
            <label class="horizontal-center">Export as: </label>
            <mat-form-field>
                <mat-select class="horizontal-center" [(value)]="exportType" [disabled]="userService.user.subscriptionPlan !== 'large'">
                    <mat-option value="csv">CSV</mat-option>
                    <mat-option value="json">JSON</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-mini-fab color="primary" (click)="export()" [disabled]="userService.user.subscriptionPlan !== 'large'">
                <mat-icon aria-label="download icon">cloud_download</mat-icon>
            </button>
        </div>
        <div class="table-wrapper">
            <!-- Using [hidden] here because the table needs to be rendered to be initialized -->
            <table mat-table [dataSource]="ipsService.dataSource" matSort class="mat-elevation-z8 results-table">
                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- IP Address Column -->
                <ng-container matColumnDef="ipaddress">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> IP Address </th>
                    <td mat-cell *matCellDef="let element">
                        <a matTooltip="Click here for IP Record info." [routerLink]="['/detail/', element.ipaddress]">{{element.ipaddress}}</a>
                    </td>
                </ng-container>

                <!-- Threat Potential Column -->
                <ng-container matColumnDef="threat_potential_score_pct">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Threat Score </th>
                    <td mat-cell *matCellDef="let element"> {{element.threat_potential_score_pct}} </td>
                </ng-container>

                <!-- Threat Classification Column -->
                <ng-container matColumnDef="threat_classification">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Threat Classification </th>
                    <td mat-cell *matCellDef="let element"> {{element.threat_classification}} </td>
                </ng-container>

                <!-- Blacklist Class Column -->
                <ng-container matColumnDef="blacklist_class">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Blacklist Class </th>
                    <td mat-cell *matCellDef="let element"> {{element.blacklist_class}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </section>
</div>


<!-- <mat-card>
  <mat-card-title>Query IP</mat-card-title>
  <mat-card-content>
      
  </mat-card-content>
</mat-card> -->