<h1 mat-dialog-title>Rename Watchlist</h1>
<div mat-dialog-content>
  <p>Edit Watchlist name and description.</p>
  <mat-form-field class="dialog-input">
    <input matInput placeholder="Watchlist Name" [formControl]="watchlistNameInput" required cdkFocusInitial maxlength="25">
    <mat-error *ngIf="watchlistNameInput.invalid">{{getNameErrorMessage()}}</mat-error>
    <mat-hint align="end">{{data.watchlistName.length}} / 25</mat-hint>
  </mat-form-field>
  <mat-form-field class="dialog-input">
    <textarea matInput placeholder="Watchlist Description (Optional)" maxlength="160" [formControl]="watchlistDescriptionInput"></textarea>
    <mat-error *ngIf="watchlistDescriptionInput.invalid">{{getDescriptionErrorMessage()}}</mat-error>
    <mat-hint align="end">{{data.watchlistDescription.length}} / 160</mat-hint>
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
    <div class="button-row">
        <button mat-flat-button color="basic" (click)="onNoClick()">Cancel</button>
        <button mat-flat-button color="primary" (click)="closeDialog()">{{data.submitButtonName}}</button>
    </div>
</div>
