.watchlist-td{
    padding-top: 10px;
    padding-bottom: 10px;
}

.watchlist-td:hover {
    cursor: pointer;
    background: #f5f5f5;
}

.delte-td {
    padding-top: 5px;
    padding-bottom: 5px;
}
.buttons-col{
    min-width: 128px;
    text-align: right
}

table {
    width: 100%;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}

.dialog-input{
    width: 100%;
}
