/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

body, input, textarea, select, .musubu-app .mat-table{
	font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
}
body{
	margin: 0;
	line-height: 1.5em;
	font-size: 18px;
	font-weight: 400;
	color: #6d6d6d;
	background-color: #fafafa;
}

.content-container{
	max-width: 1200px;
	margin: 0 auto;
}

p{
	margin-top: 0;
	color: #6d6d6d;
}

a,
a:link,
a:visited{
	color: #028b08;
	text-decoration: none;
}
a:hover{
	color: #333333;
	text-decoration: underline;
	cursor: pointer;
}
button,
.musubu-app .mat-raised-button,
.musubu-app .mat-flat-button{
	padding: 0.3em 1em;
    /*border: 2px solid;*/
	/*color: #fff;*/
    border-radius: 4px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5em;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    letter-spacing: 1px;
}
.musubu-app .mat-raised-button,
.musubu-app .mat-flat-button,
.musubu-app .mat-fab,
.musubu-app .mat-mini-fab{
	background-color: #f1f1f1;
}
.musubu-app .mat-flat-button.mat-primary,
.musubu-app .mat-raised-button.mat-primary,
.musubu-app .mat-fab.mat-primary,
.musubu-app .mat-mini-fab.mat-primary{
	background: #028b08;
    /*border-color: #028b08;*/
    color: #fff;
}
/*button:hover,*/
.musubu-app .mat-flat-button.mat-primary:hover,
.musubu-app .mat-raised-button.mat-primary:hover,
.musubu-app .mat-fab.mat-primary:hover,
.musubu-app .mat-mini-fab.mat-primary:hover,
.musubu-app .mat-flat-button.mat-warn:hover,
.musubu-app .mat-raised-button.mat-warn:hover,
.musubu-app .mat-fab.mat-warn:hover,
.musubu-app .mat-mini-fab.mat-warn:hover{
	background: #333333;
    /*border-color: #333333;*/
}
button.button-narrow,
.musubu-app .mat-raised-button.button-narrow,
.musubu-app .mat-flat-button.button-narrow,{
	line-height: 1;
}
button.button-small,
.musubu-app .mat-raised-button.button-small,
.musubu-app .mat-flat-button.button-small,{
	line-height: 1;
	padding: 0.3 0;
}
button.button-bottom-spacing{
	margin-bottom: 10px;
}
button.button-block-center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
button.button-black,
.musubu-app .mat-raised-button.button-black,
.musubu-app .mat-flat-button.button-black,
.musubu-app .mat-fab.button-black,
.musubu-app .mat-mini-fab.button-black{
	background-color: #002b02;
	/*border-color: #002b02;*/
}
/*.mat-icon,
.mat-icon-button{
	color: #028b08;
}*/
.mat-button.mat-warn .mat-icon{
	color: #f44336;
}
.mat-flat-button.mat-primary .mat-icon,
.mat-flat-button.mat-warn .mat-icon,
.mat-mini-fab.mat-primary .mat-icon{
	color: #fff;
}
.mat-flat-button[disabled] .mat-icon{
	color: rgba(0, 0, 0, 0.26);
}
/*.mat-flat-button.mat-primary[disabled], .mat-flat-button.mat-accent[disabled], .mat-flat-button.mat-warn[disabled], .mat-flat-button[disabled][disabled], .mat-raised-button.mat-primary[disabled], .mat-raised-button.mat-accent[disabled], .mat-raised-button.mat-warn[disabled], .mat-raised-button[disabled][disabled], .mat-fab.mat-primary[disabled], .mat-fab.mat-accent[disabled], .mat-fab.mat-warn[disabled], .mat-fab[disabled][disabled], .mat-mini-fab.mat-primary[disabled], .mat-mini-fab.mat-accent[disabled], .mat-mini-fab.mat-warn[disabled], .mat-mini-fab[disabled][disabled]{
	border-color: #cccccc;
}*/
.mat-flat-button.mat-primary[disabled]:hover, .mat-flat-button.mat-accent[disabled]:hover, .mat-flat-button.mat-warn[disabled]:hover, .mat-flat-button[disabled][disabled]:hover, .mat-raised-button.mat-primary[disabled]:hover, .mat-raised-button.mat-accent[disabled], .mat-raised-button.mat-warn[disabled]:hover, .mat-raised-button[disabled][disabled]:hover, .mat-fab.mat-primary[disabled]:hover, .mat-fab.mat-accent[disabled]:hover, .mat-fab.mat-warn[disabled]:hover, .mat-fab[disabled][disabled]:hover, .mat-mini-fab.mat-primary[disabled]:hover, .mat-mini-fab.mat-accent[disabled]:hover, .mat-mini-fab.mat-warn[disabled]:hover, .mat-mini-fab[disabled][disabled]:hover{
	background-color: rgba(0, 0, 0, 0.12);
	/*border-color: #cccccc;*/
	cursor: not-allowed;
}
.mat-flat-button .mat-button-wrapper .mat-icon{
    vertical-align: text-bottom;
}

.mat-chip.mat-standard-chip.mat-warn{
	background-color: #f44336;
	color: #fff;
}
.mat-chip.mat-standard-chip.mat-warn .mat-chip-remove{
    color: #fff;
    opacity: 0.7;
}

section{
    padding: 20px 0;
}

footer{
	padding: 10px 0 0;
	text-align: center;
	font-size: 14px;
}

/* Columns */
.cols{
	float: left;
}
.cols.lg-2{
	width: 50%;
}


/* results table */
tr.mat-header-row{
	background-color: #028b08;
}
.musubu-app .mat-header-cell{
    color: #fff;
    font-size: 16px;
}
.musubu-app .mat-sort-header-arrow {
    color: #fff;
}
.mat-sort-header-button:hover{
    background: transparent;
}
.mat-card-title .mat-icon{
	vertical-align: text-top;
}
.results-table td.mat-cell,
.results-table td.mat-footer-cell,
.results-table th.mat-header-cell{
	padding-left: 10px;
	padding-right: 10px;
}
.results-table td.mat-cell:first-of-type,
.results-table td.mat-footer-cell:first-of-type,
.results-table th.mat-header-cell:first-of-type,
.results-table td.mat-cell:last-of-type,
.results-table td.mat-footer-cell:last-of-type,
.results-table th.mat-header-cell:last-of-type{
	padding-left: 20px;
}

/* Cards */
.mat-card{
	margin: 5px;
}
.mat-card-title .mat-icon{
	color: #028b08;
}

/* Maps Page */
.si-frame.si-content-wrapper{
	padding: 22px;
}
.si-close-button{
	line-height: 0.5em;
	padding: 8px 6px;
}
.si-content{
	min-width: 150px;
}


@media screen and (max-width: 1200px){
	.content-container{
		padding: 0 20px;
	}
}
@media screen and (max-width: 700px){
	.results-table tbody{
		text-align: center;
	}
}
@media screen and (max-width: 600px){
	.content-container{
		padding: 0 10px;
	}
	section{
		padding: 10px 0;
	}
	section:first-child{
		padding: 20px 0 10px;
	}
	p{
		line-height: 1.5;
		font-size: 16px;
	}
	.cols.sm-1{
		width: 100%;
	}
	.mat-card{
		padding: 24px !important;
	}
}
@media screen and (max-width: 500px){
	.musubu-app .mat-toolbar[_ngcontent-c0],
	.musubu-app .mat-toolbar[_ngcontent-c0] .mat-toolbar-row[_ngcontent-c0]{
		height: 70px;
	}
	.musubu-app .logo[_ngcontent-c0]{
		height: 50px;
	}
	.logo img{
		max-height: 50px;
	}
	.title{
		display: none;
	}
	.musubu-app .mat-toolbar .mat-flat-button{
		padding: 0 15px;
	}
}
@media screen and (max-width: 400px){
	.results-table td.mat-cell,
	.results-table td.mat-footer-cell,
	.results-table th.mat-header-cell{
		padding-left: 5px;
		padding-right: 5px;
	}
	.results-table td.mat-cell:first-of-type,
	.results-table td.mat-footer-cell:first-of-type,
	.results-table th.mat-header-cell:first-of-type,
	.results-table td.mat-cell:last-of-type,
	.results-table td.mat-footer-cell:last-of-type,
	.results-table th.mat-header-cell:last-of-type{
		padding-left: 10px;
	}
}
/* iPhone 6/7/8 Plus + Pixel 2/2XL */
@media screen and (max-width: 414px){
	.table-wrapper{
		max-width: 391px;
		width: 100%;
		margin: 0 auto;
		overflow: scroll;
	}
	.mat-table.mat-elevation-z8{
		box-shadow: none;
	}
}
/* iPhone 6/7/8 */
@media screen and (max-width: 375px){
	.table-wrapper{
		max-width: 355px;
	}
}
/* iPhone 5 */
@media screen and (max-width: 359px){
	.table-wrapper{
		max-width: 300px;
	}
	.musubu-app .mat-header-cell{
		font-size: 14px;
	}
}