/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
@import '~@okta/okta-signin-widget/dist/css/okta-sign-in.min.css';
@import '~@okta/okta-signin-widget/dist/css/okta-theme.css';

body, input, textarea, select, .musubu-app .mat-table,
#okta-sign-in.auth-container.main-container,
#okta-sign-in.auth-container input[type="submit"],
#okta-sign-in.auth-container input[type="button"]{
	font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
}
body{
	margin: 0;
	line-height: 1.5em;
	font-size: 18px;
	font-weight: 500;
	color: #6d6d6d;
}

.content-container{
	max-width: 1200px;
	margin: 0 auto;
}

a,
a:link,
a:visited{
	color: #028b08;
	text-decoration: none;
}
a:hover{
	color: #333333;
	text-decoration: underline;
}
button,
.musubu-app .mat-raised-button,
.musubu-app .mat-flat-button,
.musubu-app .mat-flat-button.mat-primary,
.musubu-app .mat-raised-button.mat-primary,
.musubu-app .mat-fab.mat-primary,
.musubu-app .mat-mini-fab.mat-primary{
	padding: .3em 1em;
    border: 2px solid;
	color: #fff;
	background: #028b08;
    border-color: #028b08;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.7em;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    letter-spacing: 1px;
}
button:hover,
.musubu-app .mat-raised-button:hover,
.musubu-app .mat-flat-button:hover,
.musubu-app .mat-flat-button.mat-primary:hover,
.musubu-app .mat-raised-button.mat-primary:hover,
.musubu-app .mat-fab.mat-primary:hover,
.musubu-app .mat-mini-fab.mat-primary:hover{
	background: #333333;
    border-color: #333333;
}
.content-container button{
	margin-bottom: 10px;
}
.mat-icon,
.mat-icon-button{
	color: #028b08;
}
.mat-icon-button:hover{
	background: #cccccc;
}
.mat-primary .mat-icon{
	color: #fff;
}
.mat-flat-button[disabled] .mat-icon{
	color: rgba(0, 0, 0, 0.26);
}
.mat-flat-button.mat-primary[disabled], .mat-flat-button.mat-accent[disabled], .mat-flat-button.mat-warn[disabled], .mat-flat-button[disabled][disabled], .mat-raised-button.mat-primary[disabled], .mat-raised-button.mat-accent[disabled], .mat-raised-button.mat-warn[disabled], .mat-raised-button[disabled][disabled], .mat-fab.mat-primary[disabled], .mat-fab.mat-accent[disabled], .mat-fab.mat-warn[disabled], .mat-fab[disabled][disabled], .mat-mini-fab.mat-primary[disabled], .mat-mini-fab.mat-accent[disabled], .mat-mini-fab.mat-warn[disabled], .mat-mini-fab[disabled][disabled]{
	border-color: #cccccc;
}
.mat-flat-button.mat-primary[disabled]:hover, .mat-flat-button.mat-accent[disabled]:hover, .mat-flat-button.mat-warn[disabled]:hover, .mat-flat-button[disabled][disabled]:hover, .mat-raised-button.mat-primary[disabled]:hover, .mat-raised-button.mat-accent[disabled], .mat-raised-button.mat-warn[disabled]:hover, .mat-raised-button[disabled][disabled]:hover, .mat-fab.mat-primary[disabled]:hover, .mat-fab.mat-accent[disabled]:hover, .mat-fab.mat-warn[disabled]:hover, .mat-fab[disabled][disabled]:hover, .mat-mini-fab.mat-primary[disabled]:hover, .mat-mini-fab.mat-accent[disabled]:hover, .mat-mini-fab.mat-warn[disabled]:hover, .mat-mini-fab[disabled][disabled]:hover{
	background-color: rgba(0, 0, 0, 0.12);
	border-color: #cccccc;
	cursor: not-allowed;
}
.mat-flat-button .mat-button-wrapper .mat-icon{
    vertical-align: text-bottom;
}

section{
    padding: 40px 0;
}

footer{
	padding: 40px 0 10px;
	text-align: center;
	font-size: 14px;
}

/* results table */
.musubu-app .mat-header-cell{
    color: #6d6d6d;
    font-size: 16px;
}
.mat-sort-header-button:hover{
    background: transparent;
}
.mat-card-title .mat-icon{
	vertical-align: text-top;
}
.results-table td.mat-cell,
.results-table td.mat-footer-cell,
.results-table th.mat-header-cell{
	padding-left: 10px;
	padding-right: 10px;
}
.results-table td.mat-cell:first-of-type,
.results-table td.mat-footer-cell:first-of-type,
.results-table th.mat-header-cell:first-of-type,
.results-table td.mat-cell:last-of-type,
.results-table td.mat-footer-cell:last-of-type,
.results-table th.mat-header-cell:last-of-type{
	padding-left: 20px;
}

/* sign in */
#okta-sign-in.auth-container .button-primary{
    background-color: #028b08;
    background: linear-gradient(#028b08, #028b08);
    border-color: #028b08;
    border-bottom-color: #028b08;
}
#okta-sign-in.auth-container .button-primary:hover,
#okta-sign-in.auth-container .button-primary:focus,
#okta-sign-in.auth-container .button-primary:active,
#okta-sign-in.auth-container .button-primary:focus{
    background-color: #333333;
    background: linear-gradient(#333333, #333333);
    background-image: linear-gradient(#333333, #333333);
    border-color: #333333;
    border-bottom-color: #333333;
}
#okta-sign-in.auth-container .button.button-primary.link-button-disabled{
	background-color: #cccccc;
	border-color: #cccccc;
}
#okta-sign-in .registration-container .registration-link{
	color: #028b08;
}
#okta-sign-in .registration-container .registration-link:hover{
	color: #333333;
}



@media screen and (max-width: 1200px){
	.content-container{
		padding: 0 20px;
	}
}
@media screen and (max-width: 700px){
	section{
		padding: 20px 0;
	}
	.results-table tbody{
		text-align: center;
	}
}
@media screen and (max-width: 500px){
	.musubu-app .mat-toolbar[_ngcontent-c0],
	.musubu-app .mat-toolbar[_ngcontent-c0] .mat-toolbar-row[_ngcontent-c0]{
		height: 70px;
	}
	.musubu-app .logo[_ngcontent-c0]{
		height: 50px;
	}
	.logo img{
		max-height: 50px;
	}
	.title{
		display: none;
	}
	.musubu-app .mat-toolbar .mat-flat-button{
		padding: 0 15px;
	}
}
@media screen and (max-width: 400px){
	.results-table td.mat-cell,
	.results-table td.mat-footer-cell,
	.results-table th.mat-header-cell{
		padding-left: 5px;
		padding-right: 5px;
	}
	.results-table td.mat-cell:first-of-type,
	.results-table td.mat-footer-cell:first-of-type,
	.results-table th.mat-header-cell:first-of-type,
	.results-table td.mat-cell:last-of-type,
	.results-table td.mat-footer-cell:last-of-type,
	.results-table th.mat-header-cell:last-of-type{
		padding-left: 10px;
	}
}