<div class="content-container">
	<section>
		<div class="breadcrumb">
			<a mat-button matTooltip="Go back to query page." (click)="backButton()">
				<mat-icon>arrow_back</mat-icon>Back to Query
			</a>
		</div>
		<h2>IP Specific Detail</h2>
		<div class="col-wrapper clearfix">
			<div class="cols lg-2 md-2 sm-1 risk-circle">
				<app-ip-risk-circle
					[title]="circleTitle"
					[subtitle]="circleSubtitle"
					[riskLevel]="circleRiskLevel"
					[backgroundColor]="circleBackgroundColor"
					[outerStrokeColor]="circleOuterStrokeColor">
				</app-ip-risk-circle>
			</div>
			<div class="cols lg-2 md-2 sm-1">
				<mat-card class="tags-card">
					<mat-card-title>Add Tags</mat-card-title>
					<mat-form-field class="tags-input">
						<mat-chip-list #chipList>
							<mat-chip *ngFor="let tag of tags" [selectable]="selectable"
									[removable]="removable" (removed)="remove(tag)">
								{{tag}}
								<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
							</mat-chip>
							<input placeholder="Add tags to describe or group this IP with others."
								#tagInput
								[matChipInputFor]="chipList"
								[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
								[matChipInputAddOnBlur]="addOnBlur"
								(matChipInputTokenEnd)="add($event)"
								[formControl]="tagsFormControl"
								[matAutocomplete]="auto"
								(paste)="paste($event)">
						</mat-chip-list>
						<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
							<mat-option *ngFor="let option of tagsSuggestions | async" [value]="option">
								{{option.name}}
							</mat-option>
						</mat-autocomplete>
						<mat-hint align="end">{{tags.length}} / {{tagsLimit}}</mat-hint>
					</mat-form-field>
				</mat-card>
			</div>
		</div>
	</section>
	<section>
		<div class="card-grid clearfix">
			<mat-card class="card-grid-card first">
			    <mat-card-title><mat-icon>warning</mat-icon> Threat</mat-card-title>
			    <mat-list role="list">
			        <mat-list-item role="listitem" *ngFor="let ipThreatDetailKey of getKeys(ipThreatDetail); last as last">
			            <h3 mat-line>{{fieldNames[ipThreatDetailKey]}}</h3>
			            <p mat-line *ngIf="ipThreatDetailKey !== 'blacklist_class'"> {{ipThreatDetail[ipThreatDetailKey]}} </p>
			            <mat-chip-list mat-line *ngIf="ipThreatDetailKey == 'blacklist_class'">
			            	<mat-chip id="{{ipThreatDetail[ipThreatDetailKey]}}"> {{ipThreatDetail[ipThreatDetailKey]}} </mat-chip>
						</mat-chip-list>
						<button mat-mini-fab color="primary" (click)="onClickBuyApp()" matTooltip="Upgrade for drill-in data on this field!" *ngIf="['small', 'medium', 'large'].indexOf(userService.user.subscriptionPlan) < 0 && ipThreatDetailKey === 'blacklist_network_neighbor_cnt'">
							<mat-icon aria-label="download icon">add_shopping_cart</mat-icon>
						</button>
			          	<mat-divider [inset]="true" *ngIf="!last"></mat-divider>
			        </mat-list-item>
			    </mat-list>
			</mat-card>
			<mat-card class="card-grid-card middle">
			    <mat-card-title><mat-icon>place</mat-icon> Geo-location</mat-card-title>
			    <mat-list role="list">
			        <mat-list-item role="listitem" *ngFor="let ipGeoDetailKey of getKeys(ipGeoDetail); last as last">
			            <h3 mat-line>{{fieldNames[ipGeoDetailKey]}}</h3>
			            <p mat-line> {{ipGeoDetail[ipGeoDetailKey]}} </p>
			          	<mat-divider [inset]="true" *ngIf="!last"></mat-divider>
			        </mat-list-item>
			    </mat-list>
			</mat-card>
			<mat-card class="card-grid-card last">
			    <mat-card-title><mat-icon>network_check</mat-icon> ISP & Network Info</mat-card-title>
			    <mat-list role="list">
			        <mat-list-item role="listitem" *ngFor="let ipISPDetailKey of getKeys(ipISPDetail); last as last">
			            <h3 mat-line>{{fieldNames[ipISPDetailKey]}}</h3>
						<p mat-line *ngIf="!isArray(ipISPDetail[ipISPDetailKey])"> {{ipISPDetail[ipISPDetailKey]}} </p>
						<mat-chip-list mat-line #chipList *ngIf="isArray(ipISPDetail[ipISPDetailKey])">
							<mat-chip *ngFor="let detail of convertToSet(ipISPDetail[ipISPDetailKey])" [selectable]="selectable">
							{{detail}}
							</mat-chip>
						</mat-chip-list>
						<button mat-mini-fab color="primary" (click)="onClickBuyApp()" matTooltip="Upgrade for drill-in data on this field!" *ngIf="['small', 'medium', 'large'].indexOf(userService.user.subscriptionPlan) < 0 && ipISPDetailKey === 'ispname'">
							<mat-icon aria-label="download icon">add_shopping_cart</mat-icon>
						</button>
						<button mat-mini-fab color="primary" (click)="onClickBuyApp()" matTooltip="Upgrade for drill-in data on this field!" *ngIf="['medium', 'large'].indexOf(userService.user.subscriptionPlan) < 0 && ipISPDetailKey !== 'ispname'">
							<mat-icon aria-label="download icon">add_shopping_cart</mat-icon>
						</button>
			          	<mat-divider [inset]="true" *ngIf="!last"></mat-divider>
			        </mat-list-item>
			    </mat-list>
			</mat-card>
		</div>
	</section>
	<section class="container">
		<div class="col-wrapper">
			<div class="cols gmap-detail">
				<h2>Address Mapping</h2>
				<p>IP: {{ipDetail.ipaddress}}</p>
				<p>Latitude/Longitude: {{ipGeoDetail.latitude}} / {{ipGeoDetail.longitude}}</p>
				<div>
					<p>Address:
						<a href="https://www.google.com/maps/search/{{ipGeoDetail.latitude}},{{ipGeoDetail.longitude}}" target="_blank">
							{{ipGeoDetail.district}}
							{{ipGeoDetail.city}}
							{{ipGeoDetail.stateprov}}
							{{ipGeoDetail.zipcode}}
							{{ipGeoDetail.country}}
						</a>
					</p>
				</div>
			</div>
			<div class="cols gmap-content">
				<agm-map [latitude]="+ipGeoDetail.latitude" [longitude]="+ipGeoDetail.longitude">
					<agm-marker [latitude]="+ipGeoDetail.latitude" [longitude]="+ipGeoDetail.longitude">
						<agm-snazzy-info-window
							[backgroundColor]="circleBackgroundColor"
							[latitude]="+ipGeoDetail.latitude"
							[longitude]="+ipGeoDetail.longitude"
						 	[isOpen]="true"
						>
				      <ng-template>
				        {{ipDetail.ipaddress}}
				      </ng-template>
				    </agm-snazzy-info-window>
					</agm-marker>
				</agm-map>
			</div>
		</div>
	</section>
</div>
