div, .content-container{
	overflow: hidden;
}

.breadcrumb{
	padding: 20px 0;
}

.risk-circles-grid-list{
	min-height: 220px;
}
.risk-circles-grid-tile{
    padding-top: 10px;
	padding-bottom: 10px;
}

.tags-input{
	width: 100%;
}

.card-grid .mat-card{
	margin: 0 0.5% 40px;
}
.card-grid-card{
	float: left;
	width: 27.3%;
}
.mat-list h3{
	font-weight: 500;
}

/* Threat Score & Threat Classification Pill */
.threat-score.low.mat-chip,
.threat-class#Low{
	background-color: #28A745;
	color: #fff;
}
.threat-score.nuisance.mat-chip,
.threat-class#Nuisance{
	background-color: #686868;
	color: #fff;
}
.threat-score.medium.mat-chip,
.threat-class#Medium{
	background-color: #FFC108;
}
.threat-score.high.mat-chip,
.threat-class#High{
	background-color: #DC3545;
	color: #fff;
}

/* Blacklist Class Pill */
.mat-chip#apache{
	background-color: #c43632; /* apache red */
	color: #fff;
}
.mat-chip#blacklisted{
	background-color: #000; /* black */
	color: #fff;
}
.mat-chip#botnet,
.mat-chip#botnetcnc{
	background-color: #FFA500; /* orange */
	color: #fff;
}
.mat-chip#bruteforce{
	background-color: #08C905; /* command line green */
	color: #fff;
}
.mat-chip#compromised,
.mat-chip#malware,
.mat-chip#phishing{
	background-color: #FF0000; /* red */
	color: #fff;
}
.mat-chip#ftp{
	background-color: #49AFDF; /* light blue */
	color: #fff;
}
.mat-chip#http{
	background-color: #3782C6; /* light but darker blue than FTP */
	color: #fff;
}
.mat-chip#imap,
.mat-chip#ssh{
	background-color: #F4CF47; /* yellow */
	color: #000;
}
.mat-chip#mail{
	background-color: #323563; /* dark USPS blue */
	color: #fff;
}
.mat-chip#ransomware{
	background-color: #85bb65; /* dollar bill green */
	color: #000;
}
.mat-chip#shunned{
	background-color: #36454f; /* charcoal gray */
	color: #fff;
}
.mat-chip#sips{
	background-color: #FFA500; /* orange */
	color: #fff;
}
.mat-chip#tor{
	background-color: #774C93; /* tor purple */
	color: #fff;
}
.mat-chip#worm{
	background-color: #654321; /* brown */
	color: #fff;
}
.mat-chip#zeus{
	background-color: #FFC900; /* golden yellow */
	color: #000;
}
.mat-chip#unlisted{
	/* default gray */
}

/* Geo-location Card */
.card-grid .middle{
	margin-left: 2%;
	margin-right: 2%;
}

/* ISP & Network Info Card */
.card-grid-card.last .mat-list-item{
	height: auto;
}
.card-grid-card.last h3{
	padding-top: 9px;
}
.card-grid-card.last p{
	padding-bottom: 9px;
}
.card-grid-card.last .mat-chip-list{
	padding: 5px 0 15px;
}
.card-grid-card.last .mat-mini-fab.fab-upgrade{
	margin-bottom: 6px;
}

/* Upgrade button */
.mat-mini-fab.fab-upgrade{
	line-height: 26px;
	width: 30px;
	height: 30px;
}
.fab-upgrade.mat-mini-fab .material-icons{
    font-size: 20px;
    height: 24px;
    width: 20px;
    margin-top: -6px; /* parent span.mat-button-wrapper doesn't respond to any styles to remove 8px padding */
}

/* Google Map */
agm-map{
  height: 300px;
}
.gmap-detail{
	width: 29%;
	padding-right: 1%;
}
.gmap-content{
	width: 69%;
	padding-left: 1%;
}
agm-snazzy-info-window .si-content-wrapper{
	padding: 10px;
}

@media screen and (max-width: 900px){
	.card-grid .card-grid-card.mat-card{
		padding: 24px;
		margin: 0 1% 20px;
		float: none;
		width: auto;
	}
}
@media screen and (max-width: 600px){
	.risk-circle{
		text-align: center;
	}
	.gmap-detail{
		width: 100%;
		padding-right: 0;
		padding-bottom: 3%;
	}
	.gmap-content{
		width: 100%;
		padding-left: 0;
	}
}
