div, .content-container{
	overflow: hidden;
}

.breadcrumb{
	padding: 20px 0;
}

.risk-circles-grid-list{
	min-height: 220px;
}
.risk-circles-grid-tile{
    padding-top: 10px;
	padding-bottom: 10px;
}

.tags-input{
	width: 100%;
}

.card-grid .mat-card{
	margin: 0 0.5% 40px;
}
.card-grid-card{
	float: left;
	width: 27.3%;
}
.mat-list h3{
	font-weight: 500;
}

/* Threat Score */
.threat-score.low.mat-chip,
.threat-class#Low{
	background-color: #28A745;
	color: #fff;
}
.threat-score.nuisance.mat-chip,
.threat-class#Nuisance{
	background-color: #686868;
	color: #fff;
}
.threat-score.medium.mat-chip,
.threat-class#Medium{
	background-color: #FFC108;
}
.threat-score.high.mat-chip,
.threat-class#High{
	background-color: #DC3545;
	color: #fff;
}

/* Blacklist Class*/
.mat-chip#tor{
	background-color: #774C93;
	color: #fff;
}

/* Geo-location */
.card-grid .middle{
	margin-left: 2%;
	margin-right: 2%;
}

/* ISP & Network Info */
.card-grid-card.last .mat-list-item{
	height: auto;
}
.card-grid-card.last h3{
	padding-top: 9px;
}
.card-grid-card.last p{
	padding-bottom: 9px;
}
.card-grid-card.last .mat-chip-list{
	padding: 5px 0 15px;
}
.card-grid-card.last .mat-mini-fab.fab-upgrade{
	margin-bottom: 6px;
}

/* Upgrade button */
.mat-mini-fab.fab-upgrade{
	line-height: 26px;
	width: 30px;
	height: 30px;
}
.fab-upgrade.mat-mini-fab .material-icons{
    font-size: 20px;
    height: 24px;
    width: 20px;
    margin-top: -6px; /* parent span.mat-button-wrapper doesn't respond to any styles to remove 8px padding */
}

/* Google Map */
agm-map{
  height: 300px;
}
.gmap-detail{
	width: 29%;
	padding-right: 1%;
}
.gmap-content{
	width: 69%;
	padding-left: 1%;
}
agm-snazzy-info-window .si-content-wrapper{
	padding: 10px;
}

@media screen and (max-width: 900px){
	.card-grid .card-grid-card.mat-card{
		padding: 24px;
		margin: 0 1% 20px;
		float: none;
		width: auto;
	}
}
@media screen and (max-width: 600px){
	.risk-circle{
		text-align: center;
	}
	.gmap-detail{
		width: 100%;
		padding-right: 0;
		padding-bottom: 3%;
	}
	.gmap-content{
		width: 100%;
		padding-left: 0;
	}
}
