.breadcrumb{
	padding: 20px 0;
}
.mat-card{
	margin-bottom: 40px;
	padding: 24px 2%;
}
.card-grid-card{
	float: left;
	width: 28%;
}
.card-grid-card.middle{
	margin: 0 2% 40px;
}

@media screen and (max-width: 900px){
	.mat-card{
		padding: 24px;
	}
	.card-grid-card{
		float: none;
		width: auto;
	}
	.card-grid-card.middle{
		margin: 0 0 40px;
	}
	.card-grid-card.last{
		margin: 0;
	}
}

.risk-circles-grid-list {
	min-height: 220px;
    margin-bottom: 40px;
}
.risk-circles-grid-tile {
    padding-top: 10px;
	padding-bottom: 10px;
}